.video-card {
    background-color: #0F4229;
    color: #eee;
    max-width: 300px;
    border: 1px solid #ffffff22;
    border-radius: 0.7rem;
    /* box-shadow: 0 7px 20px 5px #00000088; */
    overflow: hidden;
    transition: 0.5s all;
    float: left;
  }
  
  .video-container {
    width: 100%;
    height: auto;
  }
  
  .video-info {
    padding: 1rem;
  }
  
  .video-info h3 {
    margin: 0.5rem 0;
    color: #a89ec9;
  }
  
  .video-info p {
    margin: 0.5rem 0;
    color: #eee;
  }
  
  .video-meta {
    display: flex;
    justify-content: space-between;
    color: #a89ec9;
  }
  